* {margin:0;padding:0;position:absolute;}
[onclick] {cursor:pointer;}
.pg {position:relative;padding:0;overflow:hidden;margin-left:2mm;margin-right:0mm;margin-bottom:2mm;margin-top:0mm;border:1px black solid;box-shadow:1mm 1mm 0 #AAAAAA;}
pg::after {content:'';position:absolute;margin:0;padding:0;left:0;right:0;top:0;bottom:0;background-color:white;z-index:-2;}
.pa {clear:both;}
.cm {overflow:hidden;}
.cl {overflow:hidden;}
.tbx {overflow:hidden;}
.rn
.bc {border:1px solid black;}
.cs16 {font-size:9pt;height:4.25514mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs16 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.8);-webkit-transform:scaleX(0.8);transform:scaleX(0.8);}
.cs14 {font-size:9pt;height:4.25514mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs14 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.85);-webkit-transform:scaleX(0.85);transform:scaleX(0.85);}
.cs15 {font-size:9pt;height:4.25514mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs15 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs9 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs9 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs8 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs8 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.85);-webkit-transform:scaleX(0.85);transform:scaleX(0.85);}
.cs21 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs21 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.9);-webkit-transform:scaleX(0.9);transform:scaleX(0.9);}
.cs11 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs11 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.9);-webkit-transform:scaleX(0.9);transform:scaleX(0.9);}
.cs19 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs19 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs12 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs12 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs20 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs20 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.9);-webkit-transform:scaleX(0.9);transform:scaleX(0.9);}
.cs18 {font-size:10pt;height:4.70305mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs18 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs4 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs4 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs6 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs6 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.72);-webkit-transform:scaleX(0.72);transform:scaleX(0.72);}
.cs5 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs5 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.74);-webkit-transform:scaleX(0.74);transform:scaleX(0.74);}
.cs7 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs7 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.75);-webkit-transform:scaleX(0.75);transform:scaleX(0.75);}
.cs3 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs3 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.85);-webkit-transform:scaleX(0.85);transform:scaleX(0.85);}
.cs2 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs2 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.9);-webkit-transform:scaleX(0.9);transform:scaleX(0.9);}
.cs1 {font-size:14pt;height:6.27074mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs1 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs0 {font-size:28pt;height:12.7654mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs0 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
.cs17 {font-size:8pt;height:3.58328mm;color:#000000;opacity:1;font-family:"Arial Unicode MS";}
.cs17 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.75);-webkit-transform:scaleX(0.75);transform:scaleX(0.75);}
.cs10 {font-size:10pt;height:4.06178mm;color:#000000;opacity:1;font-family:"Lucida Sans Unicode";}
.cs10 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs13 {font-size:10pt;height:4.06178mm;color:#000000;opacity:1;font-family:"Lucida Sans Unicode";}
.cs13 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;-ms-transform:scaleX(0.95);-webkit-transform:scaleX(0.95);transform:scaleX(0.95);}
